/.cache/
/RESEARCH

/.thinlto-cache/
/test/rv
/cfgfs
*.d
*.o

/.cli_history
/console.log
/mnt

# i thought gitignore would work for these but apparently you need to do
# % git update-index --skip-worktree env.sh misc/bots.list
# to make git ignore any changes to them
/env.sh
/misc/bots.list
