# top secret
/RESEARCH

# build-related junk
/.cache/
/.fndata
/.fndata.old
/.thinlto-cache/
/cfgfs
/cfgfs_run
/cfgfs_run_32
/test/rv
/lua-5.[0-9]*/
/mnt
/src/**/*.d
*.o

# created by cfgfs
/.cli_history
/.cli_scrollback
/console.log
/logs/
/script.lua
/script_*.lua

# user-modifiable
/env.sh

# windows junk
*.dll
*.exe
*.obj
